.task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    height: 100%;

    padding-top: 0.5rem;
}

.task-list-header {
    display: flex;
    gap: 0.5rem;

    justify-content: space-between;
    align-items: center;

    padding: 0rem 2rem 0rem 1rem;
}

.task-list-details {
    display: flex;
    gap: 0.5rem;

    justify-content: flex-start;
    align-items: center;
}

.task-list-icon {
    font-size: 1rem;
}

.task-list-title {
    font-family: var(--font-normal);
    font-weight: bold;
    font-size: 1.5rem;

    width: 100%;

    border: none;
    outline: none;

    cursor: text;
}

.task-list-actions {
    display: flex;
    gap: 0.5rem;

    justify-content: flex-end;
    align-items: center;
}

.task-list-action {
    background-color: #f0f0f0;
    color: #000000;

    width: 2rem;
    aspect-ratio: 1;

    border: none;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.task-list-action:hover {
    background-color: #e0e0e0;
}

.task-list-action:active {
    background-color: #d0d0d0;
}

.add-task-card {
    width: 100%;
}

.add-task-button {
    display: flex;
    gap: 0.5rem;

    width: 100%;

    justify-content: center;
    align-items: center;

    background-color: #f0f0f0;
    color: #000000;

    padding: 0.5rem 1rem;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}

.add-task-button:hover {
    background-color: #e0e0e0;
}

.add-task-button:active {
    background-color: #d0d0d0;
}

.add-task-icon {
    font-size: 0.75rem;
}

.add-task-text {
    font-size: 1rem;
}

.task-card-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding-bottom: 0.5rem;
    padding-right: 1rem;
    
    overflow: auto;

    list-style: none;
}

