.task-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    padding: 0.5rem 1rem;

    border: 0.1rem solid #000000;
    border-radius: 0.5rem;

    background-color: #ffffff;

    cursor: pointer;
}

.task-card > *:empty {
    display: none;
}

.task-card-timeline {
    padding-left: 0.5rem;
}

.task-card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.task-card-tag {
    display: flex;
    
    align-items: center;
    justify-content: flex-start;

    gap: 0.5rem;

    background: #e3e3e3;
    font-size: 0.75rem;

    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;

    position: relative;
}

