* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: all 0.25s ease;
    
    cursor: inherit;
    user-select: inherit;
    pointer-events: inherit;
}

body {
    width: 100vw;
    height: 100vh;

    font-family: var(--font-normal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: default;
    user-select: none;
}

code {
    font-family: var(--font-mono);
}

#root {
    width: 100%;
    height: 100%;
}

